table {
  width: 100%;
  background-color: transparent;
  border: none;
}

// style="background-color: transparent; border: none; width: 75%"
.table {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0px;
}
table th,
td {
  color: azure;
}
button,
i {
  margin: 0.5rem 1rem;
  width: 10px;
  background-color: transparent;
  color: aqua;
  left: 35%;
  transition: 0.2s ease-in-out 0s;
}
i:hover,
button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.mat-paginator {
  background-color: transparent;
  color: aqua;
}
