<mat-list>
  <a class="a" mat-list-item routerLink="/admin">Ḑ̸̘̼̺̩͎͍̰̾̀̀̅͂̑͑͝à̷̲̬̫̭͕̳͜ş̵̟̺̭͔͕̝̹́̌̓̈́͌̊͋h̶͇̰͈̫͉̻͉̙͓̓ͅb̴̢͍͇͍̍̀̔͊͛̉̀͠o̸̜̓̃a̸̗̲̫̭̝̪͈̱͆̐͒͋͐̎͋͆͘r̷̛̗̹͍͙͔̝̩̥̪͊̓̌̾̆̈́ḍ̴̬̻̥̜̭̈́̅̌̈͂̊͘͝ </a>
  <a class="a" mat-list-item routerLink="products"> P̴̨̘̯͚̭̺̋́͋͋̅̐̎͗̕͝r̶̫̜̯͍͍͍̖͈͙̃͂̽̈́́ọ̷̩̤̜̅̈̚d̵̢̯̩̖̝̪̝̬̼̼̋̄͠ǔ̵̢͚̮̗̪̤͚̤̚͜c̴͔̩̱̰͂́̈́͒́̈t̶̗̠̣̩̉ş̴͎͔̗͌͌ͅ </a>
  <a class="a" mat-list-item routerLink="customers"> Č̶̫̯͖͓͉̪̪̥̥͕̈́u̸̩̐̆̌̄̅̚̕̕͝s̶̢̯͕̮̳̹̯̮͕̒̈́͝t̶̡̡̛͎̳̖̠̜̲̽̔̅͂̿͝õ̵̤͔̞̬̩͓̣͕̱̇͆m̶͔̦̔̔̒̀̿͊̓͠ȩ̷̠̱̝̱̳̘̣̏ͅr̵̟̭͍͌̄s̸̨̖͕̹͇͈̹̣̭͛̊̂̉̀̍͝ </a>
  <a class="a" mat-list-item routerLink="orders"> O̸͎̓͂͌̀͂̔̚r̴̬̠̱̓̈́͋͂̍̏̚d̶̲̺̠̭̫̬͈̻̈́̑͊̓́͛͐͌̚e̵̡̲̜̻͈̖̖̼̻̘͊̋̀̃̚r̶̖̦̹̹̝̝͛̔̈́̆̎̾͠͝s̸̨̛̹̙̻̰̖͚͉̬͆̾͐́ </a>
  <a class="a" mat-list-item routerLink="">S̷̭̬͗̋̀̈̓̂̉́͆͗į̸̮͖͎̞̥͈̱̠̲̄̓̇̀͘t̸̡͖̰̲̼͕̯̾̿̿̓́̀̆̐̈́͘͜é̵̥̗̗͎̍̔̏y̶̡̻̣̗̜̭̤̪̓̆̕i̴͎̱͖̹̅̀̋̋́̅̓̊ ̵̨̧̬̩̗̺͈͇͖̀̈́̈́̈ͅG̸̤͇̮̥̯̗̎̐̍͠ö̸͔͕̒̎̂̓̈́r̴͑̓ͅ </a>
</mat-list>
